@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
